{% extends 'base.html.twig' %}

{% block title %}Nos articles{% endblock %}

{% block body %}

<a href="{{ path('post_add') }}"><button class="btn btn-primary m-2 left-0">Ecrire un article</button></a>
<div class="d-flex flex-column w-25 m-auto">

{% for post in posts %}

<article class="card m-2">
<div class="card-body">
<a href="{{ path('post_show', {id: post.id}) }}">
<h2 class="card-title border-bottom pb-2"> {{post.title}}</h2>
</a>
<p class="card-text p-2"> {{post.content}}</p>
<p class ="infos"> Fait par <strong>{{post.user.username}} </strong> le {{post.createdAt|date('d-m-y')}}</p>
{% if is_granted('ROLE_USER') and app.user.id == post.user.id %}
<div>
    <a href="{{path('post_edit', {id : post.id})}}"><button class="btn btn-secondary"> Editer </button></a>
    <a href="{{path('post_delete', {id : post.id})}}"><button class="btn btn-danger"> Supprimer </button></a>
</div>
{% endif %}
</div>
</article>

{% endfor %}
</div>
{% endblock %}
